* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}

window#waybar {
  background: #202020;
  color: #efe1d3;
}

tooltip {
  background-color: #202020;
}

#bluetooth,
#clock,
#language,
#tray,
#cpu,
#memory,
#backlight,
#battery,
#network,
#wireplumber{
  margin: 2px 2px 0px 0px;
  padding: 2px 8px;
  color: #cdcdcd;
}
#workspaces button {
  color: #cdcdcd;
  padding: 0px 10px;
}

#workspaces button.focused {
  background-color: #cdcdcd;
  color: #141415;
}

#workspaces button.active {
  background-color: #141415;
  color: #cdcdcd;
}